<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <p class="body-text">driverleics@le.ac.uk</p>
                    <p class="body-text"><a href="https://twitter.com/DriverLeics" style="color:white"><i class="fa fa-twitter" aria-hidden="true"></i>@DriverLeics</a></p>
                    <p class="body-text"><a href="https://www.instagram.com/DriverLeics/" style="color:white"><i class="fa fa-instagram" aria-hidden="true"></i>@DriverLeics</a></p>
                </div>
            </div>
        </div>
    </section>
