<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About DriverLeics</h2>
                </div>
            </div>
            <div class="row container">
		<center>
                  <p><span>In a world increasingly populated by autonomous systems, ensuring their quality (e.g., safety and trustworthiness) is paramount. Our research concerns the quality of software for autonomous vehicles, from the model-based development and automated testing perspectives. Our "DriverLeics" team develops algorithms for autonomous vehicles in complex urban scenarios. The challenges include accurate self-localisation, detection and classification of pedestrians, and safe completion of driving routines.</span></p>
		</center>
            </div>
        </div>
    </section>
