<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ABOUT DRIVERLEICS - AUTONOMOUS DRIVING</h2>
                </div>
            </div>
            <div class="row container">
		<center>
                  <p><span>Studies show an increasing demand for autonomous vehicles and there is no secret as to why this is. Having identified the ‘’elimination of accidents due to manual errors, reduced carbon dioxide emissions due to lower consumption of fuel and high penetration capabilities in the automotive sector’’  as a few benefits these autonomous vehicles present.  It is quite evident the reason for an increasing interest in the field as we may all be sitting as passengers in one of these self-driving cars in the not too distant future. Therefore, Ensuring their quality( e.g. safety and trustworthiness) is paramount.

Our research concerns the quality of the software for autonomous vehicles from the model-based development and automated testing perspectives  The DriverLeics Team develops various algorithms for autonomous vehicles  in complex urban scenarios. These Algorithms Test the full capabilities of a simulated  autonomous model against an autonomous agent. The challenges include accurate self-localisation , detection  and classification of pedestrians against cyclists and vehicles and the safe completion of driving routes. </span></p>
		</center>
            </div>
        </div>
    </section>
