<!-- Intro Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ABOUT DRIVERLEICS</h2>
                </div>
            </div>
            <div class="row container">
                <div class="col-lg-12 text-justify">
                  <p><span>Autonomous vehicles are rapidly becoming a reality. The expected reduction of accidents due to human errors, the potential to enable a wider access to mobility, and a strong interest in the automotive sector are factors influencing this societal and technological revolution. Ensuring the quality, e.g., safety and reliability, of these complex cyber-physical systems is paramount to our society.</p>
                  <p>
The DriverLeics team at the Department of Informatics of the University of Leicester investigates challenging issues around autonomous vehicles. We are working on developing automated techniques for autonomous driving in complex urban scenarios. The challenges include accurate lane-keeping, self-localisation, detection and classification of pedestrians against cyclists/vehicles and the safe completion of driving tasks. The team is composed of undergraduate and postgraduate students supported by academics in the fields of safety analysis, model-based software engineering and automated software validation and verification. </span>
                  </p>
            </div>
        </div>
      </div>
    </section>
