<!-- Portfolio Grid Section -->
    <section id="society" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Royal Society Summer Science Exhibition</h2>
                    <div class="col-lg-12 text-justify">
                    <p><span>The Royal Society Summer Science Exhibition is a national, high-profile science event running from July 1st to 7th. The event attracts more than 10,000 visitors from schools and the general public every year.
What do we present at the Royal Society Summer Science Exhibition?
                    <p><span>Our University and research team have earned a stand at the prestigious Royal Society Summer Science exhibition this July and have been tasked with developing an exciting exhibit for the hot topic of trusted autonomous vehicles. We provide general information on autonomous vehicles’ technologies together with three interactive activities:</span></p><br>•     A demo of a 1:8 self-driving car (visitors can control a pedestrian crossing the road)</span></p><br>•     A test of visitor’s abilities compared to AI abilities in difficult driving situations</span></p><br>•     An evolving self-driving AI trained by visitors</span></p>
                    <p><span>Our exhibit will occupy a prime spot in the largest hall of the exhibit, the Wellcome Trust Lecture Hall. Due to the expected interest in our topic, the Royal Society has granted us the main stage in addition to our stand to build a scale 1:8 track with autonomous vehicles. Our activities will be featured in a film the Royal Society is producing for six selected exhibits. Additionally, we have also been selected as one of three exhibits to appear in the London Mathematical Society’s <a href="/assets/MathsInside19-DriverLeics.pdf">‘Maths Inside Project’ leaflet</a>: </span></p>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/assets/MathsInside19-DriverLeics-front.png" class="img-responsive img-centered" width="100%" alt="">
                        </div>
                        <div class="col-md-6">
                            <img src="/assets/MathsInside19-DriverLeics-back.png" class="img-responsive img-centered" width="100%" alt="">
                        </div>                        
                    </div>
                        <br>
                        <br>
                        <br>
            </div>
            <div class="row">
              <h4 class="section-subheading">Activities</h4>
            {% for activity in site.categories.activities %}
                <div class="col-md-4 col-sm-4"><!--<div class="col-md-4 col-sm-6">-->
                    <img src="../css/style/img/activities/{{ activity.img }}" class="img-responsive img-centered" alt="">
                    <h5>{{ activity.title }}</h5>
                    <p class="text-muted">{{ activity.abstract }}</p>
                </div>

            {% endfor %}
              <div class="col-lg-12 text-justify">
              <p><span><a class="portfolio-link" href="https://royalsociety.org/science-events-and-lectures/2019/summer-science-exhibition/visitor-information/">Plan your visit from Monday 1 - Sunday 7 July 2019 at The Royal Society, 6 - 9 Carlton House Terrace, London.</a></span></p>
              </div>
            </div>
                    <center>
                    <h4 class="section-subheading">Our Poster</h4>

                    <img src="../css/style/img/poster.jpg" width="40%" height="40%" alt=""></img>
        </div>
    </section>
