<!-- Clients Aside -->
<section id="sponsors" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row equal">
                <div class="col-md-4 sponsor-centered">
                    <a href="https://www2.le.ac.uk/institution/lias/projects/artificial-intelligence-network" class="sponsor-centered">
                        <h1>Leicester Artificial Intelligence Network</h1>
                    </a>
                </div>
                <div class="col-md-4 sponsor-centered">
                    <a href="https://royalsociety.org/science-events-and-lectures/2019/summer-science-exhibition/" class="portfolio-link sponsor-centered">
                        <img src="../css/style/img/logos/sse2019.jpg" class="img-responsive img-centered" alt="Royal Society Summer Science Exhibition 2019">
                    </a>
                </div>
                <div class="col-md-4 sponsor-centered">
                    <a href="https://zenzic.io" class="portfolio-link sponsor-centered">
                        <img src="../css/style/img/logos/zenzic.png" class="img-responsive img-centered" alt="Zenzic -- accellerating the self-driving revolution">
                    </a>
                </div>
            </div>
        </div>
</section>
