<!DOCTYPE html>
<html>

  {% include data/head.html %}


    <body id="page-top" class="index">

    {% include data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">DriverLeics<br></div>
                <img src=" ">
<!--                <div class="intro-subheading">University of Leicester TEST</div>-->
                <div class="intro-lead-in"><br></div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include data/intro.html %}
    {% include data/team.html %}
    {% include data/society.html %}
    {% include data/projects.html %}
    {% include data/sponsors.html %}
    {% include data/contact.html %}
    {% include data/footer.html %}
    {% include data/js.html %}

    </body>
</html>
