<!DOCTYPE html>
<html>

  {% include data/head.html %}


    <body id="page-top" class="index">

    {% include data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <img src="..\css\style\img\logos\UoL_Logo_Inverse_white.png" width="50%" style="margin-bottom:1rem">
                <!--                <div class="intro-heading">DriverLeics<br>
-->
                <div class="intro-heading">
                    <img src="..\css\style\img\logos\DLT_logo_white-8.png" width="35%">
                </div>
<!--                <div class="intro-subheading">University of Leicester</div>-->
                <!-- <div class="intro-lead-in"><br></div> -->
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include data/intro.html %}
    {% include data/team.html %}
    {% include data/brightspark2023.html %}
    {% include data/society.html %}
    {% include data/projects.html %}
    {% include data/sponsors.html %}
    {% include data/contact.html %}
    {% include data/footer.html %}
    {% include data/js.html %}

    </body>
</html>
