<!DOCTYPE html>
<html>

  <head>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

  </head>>

  <style type="text/css">
    /*INCLUDE MAIN CSS FILE*/
    {% capture criticalcss %}
      {% include /css/critical.scss %}
    {% endcapture %}
    {{ criticalcss | scssify }}
  </style>
  
  {% include /data/js.html %}
  {% include /data/head.html %}

  <body>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready( function () {
          const params = new URLSearchParams(location.search)

          var table = $('#theScoreboard').DataTable(
                    { oSearch: {"sSearch": ""},
                      language: {
                        searchPlaceholder: "Search records",
                        search: "Search your ID",
                        rowId: "id"
                      }
                    }
            );

          if (params.has('id')) {
            if (!(params.get('id') === '')) {

              place = 0
              for (i = 0; i < table.column(1).data().length ; i++) {
                str = String(table.column(1).data()[i]);
                if (String(str.substring(str.indexOf("\"")+11, str.lastIndexOf("\""))).trim() === String(params.get('id').trim())) {
                  place = i;
                }
              }

              page_to_display = Math.floor( place / 10 );
              table.page( page_to_display).draw( 'page' );

            }
          }

        } );
    </script>

    {% include /data/header.html %}
        {{ content }}
  </body>
  {% include /data/footer.html %}
</html>
