<!DOCTYPE html>
<html>

  <head>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

  </head>>

  <style type="text/css">
    /*INCLUDE MAIN CSS FILE*/
    {% capture criticalcss %}
      {% include /css/critical.scss %}
    {% endcapture %}
    {{ criticalcss | scssify }}
  </style>
  
  {% include /data/js.html %}
  {% include /data/head.html %}

  <body>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready( function () {
          const params = new URLSearchParams(location.search)
          id_to_search = ""

          if (params.has('id')) {
            id_to_search = params.get('id')
          }

          $('#theScoreboard').DataTable(
                    { oSearch: {"sSearch": id_to_search},
                      language: {
                        searchPlaceholder: "Search records",
                        search: "Search your ID",
                      }
                    }
            );
        } );
    </script>

    {% include /data/header.html %}
        {{ content }}
  </body>
  {% include /data/footer.html %}
</html>
